.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-conatainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 80px;
}

.cart-container{
    background-color: greenyellow;
    border-radius: 16px;
    position: sticky;
}

.cart-title{
    text-align: center;
}

.choose-btn{
    display: block;
    background-color: transparent;
    color: crimson;
    padding: 7px 5px;
    margin: 8px 10px;
    cursor: pointer;

}
.choose-btn:hover{
    background-color: lawngreen;
    border: none;
    font-weight: 900;
}

#choose-for-me{
    color: green;
}

@media screen and (max-width: 576px){
    .product-conatainer{
        grid-template-columns: repeat(1, 1fr);
         }
}