.product{
    width: 350px;
    height: 480px;
    border: 1px solid grey;
    border-radius: 5px;
    position: relative;
}

.product img{
    width: 300px;
    height: 300px;
    margin: 16px;
    padding: 8px;
    border-radius: 15px;
    background-color: gainsboro;
}
.product-info{
    padding: 0 16px;
}

.product-name{
    margin-top: 0px;
    margin-bottom: 0px;
}
.product-info p:nth-child(2){
    margin-top: 5px;
}

.btn-cart{
    width: 100%;
    background-color: greenyellow;
    border: none;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.btn-cart:hover{
    background-color: lawngreen;
    color: whitesmoke;
    font-weight: 900;
    font-size: 16px;
}